{% extends "base.html.twig" %}
{% block title %}
    Symrecipe-Acceuil
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Bienvenu sur Symrepice</h1>
    <p>Symrecip est une application  qui va te permettre de créer des recettes à base d'ingrédients</p>
    <hr>
    <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application</p>
    <a role="button" href="#" class="btn btn-primary btn-lgz">inscription</a>
</div>
{% endblock %}